h1 {
    font-size: 40px;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

.card {
    color: black;
    width: 500px;
    height: 400px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

button {
    border-radius: 20px;
    width: 75px;
}

p {
    margin-left: 10px;
}

img{
    width: 200px;
    margin: 100px;
}